<muzey-pagetable-controls [title]="'过点记录'">
    <form>
        <div class="row">
            <div class="col-md-2">
                <muzey-select-controls [placeholder]="l('车间')" [(bindVal)]="reqModel.workShop" [options]="wsOps" [disab]="wsDisable" (bindValChange)="wsValChange($event)"></muzey-select-controls>
            </div>
            <div class="col-md-2">
                <muzey-select-controls [placeholder]="'申报点编码'" [(bindVal)]="reqModel.ReportID" [options]="rIdOps"></muzey-select-controls>
            </div>
            <div class="col-md-2">
                <muzey-select-controls [placeholder]="l('分类')" [(bindVal)]="reqModel.type" [options]="tOps"></muzey-select-controls>
            </div>
            <div class="col-md-6">
                <muzey-date-controls [captionS]="'过点时间(起)'" [captionE]="'过点时间(止)'" [sTime]="sTime" [eTime]="eTime" (onChange)="dateChange($event)"></muzey-date-controls>
            </div>
            <div class="col-md-2">
                <muzey-input-controls [placeholder]="l('订单号')" [(bindVal)]="reqModel.orderNum"></muzey-input-controls>
            </div>
            <div class="col-md-2">
                <muzey-input-controls [placeholder]="l('VIN')" [(bindVal)]="reqModel.vin"></muzey-input-controls>
            </div>
            <div class="col-md-2" *ngIf="reqModel.workShop=='BE'">
                <muzey-input-controls [placeholder]="l('车型')" [(bindVal)]="reqModel.beCarType"></muzey-input-controls>
            </div>
            <div class="col-md-2" *ngIf="reqModel.workShop=='BE'">
                <muzey-input-controls [placeholder]="l('白车身选配码')" [(bindVal)]="reqModel.bodySelCode"></muzey-input-controls>
            </div>
            <div class="col-md-2">
                <muzey-input-controls [placeholder]="l('订单类型')" [(bindVal)]="reqModel.orderType"></muzey-input-controls>
            </div>
            <div class="col-md-2">
                <muzey-input-controls [placeholder]="l('流水号')" [(bindVal)]="reqModel.serialNumber"></muzey-input-controls>
            </div>
            <div class="col-md-12 text-right p-r-25">
                <muzey-button-controls [tem]="'search'" (click)="mtc.pageChangeSub(1)"></muzey-button-controls>
                <muzey-button-controls [tem]="'add'" (click)="edit()"></muzey-button-controls>
                <!--<muzey-button-controls [tem]="'edit'" (click)="edit(mtc.itemObj.ID)"></muzey-button-controls>
        <muzey-button-controls [tem]="'delete'" (click)="delete(mtc.itemObj.ID)"></muzey-button-controls>-->
                <muzey-down-controls [url]="'ACRecordMQ.Export'" [downName]="'过点记录.xlsx'" [cols]="cols" [reqModel]="reqModel"></muzey-down-controls>
            </div>
        </div>
    </form>
    <muzey-table-controls #mtc [cols]="cols[reqModel.workShop]" [datas]="datas" [totalCount]="totalCount" (pageChange)="getDataPage($event)"></muzey-table-controls>
</muzey-pagetable-controls>
