<muzey-pageedit-controls [title]="'预排设置编辑'" [width]="'500'" [height]="'400'" (onCloseClick)="close(false)" (onSaveClick)="save()">
    <div class="row-fluid">
        <div class="col-md-12">
            <muzey-select-controls [placeholder]="l('区域')" [(bindVal)]="reqModel.saveData.Area" [options]="arOps"></muzey-select-controls>
            <muzey-select-controls [placeholder]="l('车道')" [(bindVal)]="reqModel.saveData.Road" [options]="roOps[reqModel.saveData.Area]"></muzey-select-controls>
            <muzey-select-controls [placeholder]="l('车位')" [(bindVal)]="reqModel.saveData.Place" [options]="plOps[reqModel.saveData.Area]"></muzey-select-controls>
            <muzey-select-controls [placeholder]="l('状态')" [(bindVal)]="reqModel.saveData.State" [options]="sOps"></muzey-select-controls>
            <muzey-input-controls [placeholder]="'VIN'" [(bindVal)]="reqModel.saveData.VIN"></muzey-input-controls>
        </div>
    </div>
</muzey-pageedit-controls>
