<muzey-pagetable-controls [title]="'停线明细'">
    <form>
        <div class="row">
            <div class="col-md-3">
                <muzey-select-controls [placeholder]="l('车间')" [(bindVal)]="reqModel.workShop" [options]="wsOps" [disab]="wsDisable"></muzey-select-controls>
            </div>
            <div class="col-md-9">
                <muzey-date-controls (onChange)="dateChange($event)"></muzey-date-controls>
            </div>
            <div class="col-md-12 text-right p-r-25">
                <muzey-button-controls [tem]="'search'" (click)="mtc.pageChangeSub(1)"></muzey-button-controls>
                <muzey-down-controls [url]="'ACStopTime.Export'" [downName]="'停线数据.xlsx'" [cols]="cols" [reqModel]="reqModel"></muzey-down-controls>
            </div>
        </div>
    </form>
    <muzey-table-controls #mtc [cols]="cols" [datas]="datas" [totalCount]="totalCount" (pageChange)="getDataPage($event)"></muzey-table-controls>
</muzey-pagetable-controls>
